.player{
    display: flex;
    width: 300px;
    align-items: center;
    background-color: rgba(100, 100, 100, 0.5);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    
    

    span{
        font-size: 32px;
        margin-left: 16px;
    }
    
    img{
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 100%;
        opacity: 0.5;
    }
    span{
        opacity: 0.5;
    }
}

.playerActive{
    background-color: orange !important;
    img{
        opacity: 1;
    }
    span{
        opacity: 1;
    }
}