.profil-div{
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 200px; 
    width: 300px; 
    overflow: hidden;
    overflow-y: scroll;
    gap: 10px;
    flex-wrap: wrap;

    img{
        object-fit: cover; 
        height: 50%;
        opacity: 0.5;
        &:hover{
            cursor: pointer;
            opacity: 1;
        }
    }
}

.img-selected{
    opacity: 1 !important;
}