
<h1 mat-dialog-title>Add Image</h1>

<div mat-dialog-content>
  <p>Please select a profilimage.</p>
    <div class="profil-div">
        <!-- <img mat-select src="../../assets/img/avatar.png" > -->
        <img mat-select id="profil0" src="../../assets/img/businessman.png" (click)="selectedProfile(0)">
        <img mat-select id="profil1" src="../../assets/img/male.png" (click)="selectedProfile(1)">
        <img mat-select id="profil2" src="../../assets/img/woman.png" (click)="selectedProfile(2)">
        <img mat-select id="profil3" src="../../assets/img/woman1.png" (click)="selectedProfile(3)">
        <img mat-select id="profil4" src="../../assets/img/penguin.png" (click)="selectedProfile(4)">
        <img mat-select id="profil5" src="../../assets/img/panda.png" (click)="selectedProfile(5)">
        <img mat-select id="profil6" src="../../assets/img/duck.png" (click)="selectedProfile(6)">
        <img mat-select id="profil7" src="../../assets/img/lion.png" (click)="selectedProfile(7)">
        <img mat-select id="profil8" src="../../assets/img/zebra.png" (click)="selectedProfile(8)">
        <img mat-select id="profil9" src="../../assets/img/tiger.png" (click)="selectedProfile(9)">
        <img mat-select id="profil10" src="../../assets/img/pug.png" (click)="selectedProfile(10)">
    </div>
    <input matInput [(ngModel)]="imgProfil" style="display: none;">
    
    

</div>

<div mat-dialog-actions>
  <!-- <button mat-button (click)="closeProfiles()" >No Thanks</button> -->
  <button mat-button [mat-dialog-close]="imgProfil" *ngIf="imgProfil.length > 10" >Ok</button>
</div>